{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Add Class</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="students.html">Students</a></li>
                <li class="breadcrumb-item active">Add Class Fee</li>
             </ul>
          </div>
       </div>
    </div>
    
  {% include 'includes/messages.html' %}

  
    <div class="row">
       <div class="col-sm-12">
          <div class="card">
             <div class="card-body">
                <form action="{% url 'update_course' %} "  method="post" >
                    {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Add Class</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Class Name</label>
                            
                            <input type="text" class="form-control" name="name" required value="{{course.name}}">
                            <input type="text" class="form-control" name="course_id" required value="{{course.id}}" hidden>
                          
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                           <label>Class Fee</label>
                           
                           <input type="text" class="form-control" name="fee_course" required value="{{course.fee_course}}">
                           <input type="text" class="form-control" name="course_id" required value="{{course.id}}" hidden>
                         
                        </div>
                     </div>

                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Update Class</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock %}