{% extends 'base.html' %}
{% block content %}      
<div class="content container-fluid">
    <div class="page-header">
       <div class="row">
          <div class="col-sm-12">
             <h3 class="page-title">Student Details</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_student' %}">Student</a></li>
                <li class="breadcrumb-item active">Student Details</li>
             </ul>
  {% include 'includes/messages.html' %}

          </div>
       </div>
    </div>
    <div class="card">
       <div class="card-body">
          <div class="row">
             <div class="col-md-12">
                <div class="about-info">
                   <h4>{{student.b_cnic}}</h4>
                  

                   <div class="media mt-3">
                      <img src=" /{{student.student_pic}}" name="student_pic" class="mr-3" alt="..." value="{{student.student_id}}"> 
                      <div class="media-body">
                         <ul>
                            <li>
                               <span class="title-span">Full Name : </span>
                               <span class="info-span">{{student.first_name}} {{student.last_name}}</span>
                            </li>
                            <li>
                               <span class="title-span">Class : </span>
                               <span class="info-span">{{student.course_id}} </span>
                            </li>
                            <li>
                               <span class="title-span">Father Mobile : </span>
                               <span class="info-span">{{student.father_mobile}}</span>
                            </li>
                            <!-- <li>
                               <span class="title-span">Email : </span>
                               <span class="info-span"><a href="https://preschool.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7216131b010b32151f131b1e5c111d1f">[email&#160;protected]</a></span>
                            </li> -->
                            <li>
                               <span class="title-span">Gender : </span>
                               <span class="info-span">{{student.gender| title}} </span>
                            </li>
                            <li>
                               <span class="title-span">DOB : </span>
                               <span class="info-span">{{student.dob}}</span>
                            </li>
                            <li>
                                <span class="title-span">Section : </span>
                                <span class="info-span">{{student.section_abc}}</span>
                             </li>

                             <li>
                                <span class="title-span">Session Year : </span>
                                <span class="info-span">{{student.session_year_id}}</span>
                             </li>
                         </ul>
                      </div>
                   </div>
                
        
                   <!-- <div class="row mt-2">
                      <div class="col-md-12">
                         <h5>Permanent Address</h5>
                         <p>480, Estern Avenue, Courtage area, New York</p>
                      </div>
                   </div> -->
                   <div class="row mt-2">
                      <div class="col-md-12">
                         <h5>Present Address</h5>
                         <p>{{student.address}}</p>
                      </div>
                   </div>

                   <div class="row mt-2">
                    <div class="col-md-12">
                       <h5>Admission Date</h5>
                       <p>{{student.created_at}}</p>
                    </div>
                 </div>
                 
                   <div class="row mt-2">
                    <div class="col-md-12">
                       <h5>Updated Details</h5>
                       <p>{{student.updated_at}}</p>
                    </div>
                 </div>

            

                 
                </div>
             </div>
          </div>
       
          <div class="row mt-2">
             <div class="col-md-12">
                <div class="skill-info">
                   <h4>Settings</h4>
                   <form action=""  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Student Information</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" name="first_name"  value="{{student.first_name}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{student.last_name}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Student Id</label>
                            <input type="number" class="form-control" name="student_regis" value="{{student.student_regis}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control" name="gender"  value="{{student.gender}}">
                               <option  selected value="{{student.gender}}">{{student.gender|title}}</option>
                               <option value="female">Female</option>
                               <option value="male">Male</option>
                               <option value="others">Others</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Date of Birth</label>
                            <div>
                               <input type="date" class="form-control" name="dob" value="{{student.dob}}"required >
                               <!-- <input type="text" class="form-control" name="dob_id" value="{{student.id}}" hidden> -->
                            </div>
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group" name="course_id">
                            <label >Class</label>

                           
                            <select class="form-control" name="course_id"  value="" required>
                            <option selected  value="" ></option>
                              
                                <option  disabled value="">--Select Class--</option>

                                {% for i in course %}
                                    <option  value="{{.id}}">{{i.name}}</option>
                                {% endfor %}
                            </select>

                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>B.Form ID</label>
                            <input type="text"  class="form-control" placeholder="3001234567890" name="b_cnic" value="{{student.b_cnic}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Session Year</label>
                            <select class="form-control" name="session_year_id" value="{" required>
                                <option selected value=""></option>
                                <option  disabled value="">--Select Session--</option>

                                {% for i in session_year %}
                                     <option value="{{i.id}}">{{i.session_start}} to {{i.session_end}}</option>
                                {% endfor %}
                                
                            </select>
                         </div>
                      </div>
                    
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Section</label>
                            <input type="text" class="form-control" name="section_abc" value="{{student.section_abc}}">

                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Student Image</label>
                            <input type="file" class="form-control" name="student_pic" value="{{student.id}}" >
                            <input type="text" class="form-control" name="student_id" value="{{student.id}}"hidden >
                         </div>
                      </div>
                      <div class="col-12">
                         <h5 class="form-title"><span>Parent Information</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Father's Name</label>
                            <input type="text" class="form-control" name="father_name" value="{{student.father_name}}">
                         </div>
                      </div>
                    
                       <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Father's Occupation</label>
                            <input type="text" class="form-control" name="father_oc" value="{{student.father_oc}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Father's Mobile</label>
                            <input type="text" class="form-control" name="father_mobile" value="{{student.father_mobile}}">
                         </div>
                      </div>
                     
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Mother's Name</label>
                            <input type="text" class="form-control" name="mother_name" value="{{student.mother_name}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Mother's Occupation</label>
                            <input type="text" class="form-control" name="mother_oc" value="{{student.mother_oc}}">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Mother's Mobile</label>
                            <input type="text" class="form-control" name="mother_mobile" value="{{student.mother_mobile}}">
                         </div>
                      </div>
                    
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Present Address</label>
                            <textarea class="form-control" name="address" value="">{{student.address}}</textarea>
                         </div>
                      </div>
              
                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                   </div>
                </form>
                <div class="row mt-2">
                    <div class="col-md-12">
                       <div class="skill-info">
                          <h4>Skills</h4>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, simply dummy text of the printing and typesetting industry</p>
                          <ul>
                             <li>
                                <label>Lorem Ipsum is simply</label>
                                <div class="progress">
                                   <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                </div>
                             </li>
                             <li>
                                <label>Lorem Ipsum is simply</label>
                                <div class="progress">
                                   <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100" style="width: 69%"></div>
                                </div>
                             </li>
                             <li>
                                <label>Lorem Ipsum is simply</label>
                                <div class="progress">
                                   <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%"></div>
                                </div>
                             </li>
                             <li>
                                <label>Lorem Ipsum is simply</label>
                                <div class="progress">
                                   <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
                                </div>
                             </li>
                          </ul>
                          <!-- <div class="row mt-3">
                             <div class="col-md-12">
                                <h5>Education</h5>
                                <p class="mt-3">Secondary Schooling at xyz school of secondary education, Mumbai.</p>
                                <p>Higher Secondary Schooling at xyz school of higher secondary education, Mumbai.</p>
                                <p>Bachelor of Science at Abc College of Art and Science, Chennai.</p>
                                <p>Master of Science at Cdm College of Engineering and Technology, Pune.</p>
                             </div>
                          </div>
                          <div class="row mt-3">
                             <div class="col-md-12">
                                <h5>Certificates</h5>
                                <p class="mt-3">1st Prise in Running Competition.</p>
                                <p>Lorem Ipsum is simply dummy text.</p>
                                <p>Won overall star student in higher secondary education.</p>
                                <p>Lorem Ipsum is simply dummy text.</p>
                             </div>
                          </div> -->
                       </div>
                    </div>
                 </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>





{% endblock %}
